.ui.menu {
  margin: 0px; }

.masthead {
  background-image: url("https://static.pexels.com/photos/186077/pexels-photo-186077.jpeg") !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 700px; }
  .masthead h1.ui.header {
    margin-top: 3em;
    font-size: 4em;
    font-weight: normal; }

.segment-container {
  padding: 8em 0em; }

.title-header.centered {
  text-align: center;
  margin: 10px; }

.popular-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .popular-items img {
    height: 300px;
    width: 400px; }

.footer.segment {
  padding: 8em 0em; }
