.property-section {
  .ui.menu {
    margin: 0px;
  }
}

.gallery-container {
  height: 300px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;

  .item-a {
    background-color: rgb(188, 190, 192);
  }

  .item-b {
    display: grid;
    background-color: rgb(188, 190, 192);
    grid-gap: 10px;
    grid-template-columns: 50% 50%;

    .subitem-a {
      background-color: pink;
    }

    .subitem-b {
      background-color: pink;
    }
  }
}